<!DOCTYPE html>
<html lang="en"

      dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8">
    <title>USER API</title>
    <style>
        body {
            margin-left: 20px;
            margin-right: 20px;
        }

        table, th, td {
            border: 1px solid black;
        }

        table {
            width: 50%;
        }

        textarea {
            height: 300px;
        }
    </style>
</head>
<body>
<h4>
    USER API
</h4>
<hr/>

<h5>Current URL: https://purchaseorderapi.herokuapp.com/</h5>
<hr/>
<h4>Add or Update User</h4>
<h5><u>If the Sector has a same id it will update else it will register</u></h5>
<p><b>Endpoint:</b> {CurrentUrl}/user/addUpdate </p>
<p><b>Method:</b> POST </p>
<p><b>Header: </b></p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Authorization</td>
        <td>Bearer {token}</td>
    </tr>
    </tbody>
</table>
<p><b>Body: </b></p>
<textarea cols="100" rows="100">
    {
        "id": Integer
        "sectorId": Integer,
        "email": String,
        "password": String,
        "employeeId": String,
        "firstName": String,
        "lastName": String,
        "role": String,
        "status": Integer,
        "createAt": null
        "updateAt": null
        "deleteAt": null
    }
    </textarea>

<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
{
    "data": {
        "id": 1,
        "sectorId": 2,
        "email": "kurtorioque",
        "password": "asd",
        "employeeId": "2",
        "firstName": "kurt",
        "lastName": "oriouqe",
        "role": 3,
        "status": 1,
       "createAt": "2021-04-02T05:51:07.778+00:00",
        "updateAt": Date,
        "deleteAt": Date
    },
    "message": "User Register Succesful"
}
</textarea>


<h4>To Delete User</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/delete </p>
<p><b>Method:</b> POST </p>
<p><b>Body: </b>null</p>
<p><b>Header: </b></p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Authorization</td>
        <td>Bearer {token}</td>
    </tr>
    </tbody>
</table>
<p><b>Param: </b>id (userID)</p>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
{
    "data": {
        "id": 4,
        "sectorId": 2,
        "email": "kurtorioque",
        "password": "asd",
        "employeeId": "2",
        "firstName": "kurt",
        "lastName": "oriouqe",
        "role": 1,
        "status":0,
        "createAt": "2021-04-02T05:59:24.856+00:00",
        "updateAt": null,
        "deleteAt": "2021-04-02T05:59:41.191+00:00"
    },
    "message": "Delete User Successful"
}
</textarea>

<h4>Login User</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/login</p>
<p><b>Method:</b> POST </p>
<p><b>Body: </b>{
    <br/>
    "username": String,
    <br/>
    "password": String,
    <br/>
    }
</p>
<p><b>Header: </b>null</p>
<p><b>Param: </b>null</p>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
[
    {
        "data": {
            "user": {
                "id": 1,
                "email": "JohnDoe@gmail.com",
                "password": "johndoe",
                "employeeId": "1234567",
                "firstName": "John",
                "lastName": "Doe",
                "role": 1,
                "status": 1,
                "sector": {
                    "id": 1,
                    "name": "",
                    "status": 4,
                    "approver": 0,
                    "createAt": "2021-05-28T03:32:33.386+00:00",
                    "updateAt": "2021-05-28T03:32:33.386+00:00",
                    "deleteAt": "2021-05-28T03:32:33.386+00:00"
                },
                "createAt": "2021-05-28T03:32:33.462+00:00",
                "updateAt": "2021-05-28T03:32:33.462+00:00",
                "deleteAt": "2021-05-28T03:32:33.462+00:00"
            },
            "token": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJKb2huRG9lQGdtYWlsLmNvbSIsImlhdCI6MTYyMjE3Mjc2Nn0.ez0iHVtWt87zNoB40ig1F0n3Wj2OO6j5RjD492NmHrA"
        },
        "message": "Login Success"
    }
]
</textarea>

<h4>ReLogin User</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/re-login</p>
<p><b>Method:</b> POST </p>
<p><b>Body: </b>null
</p>
<p><b>Header: </b>null</p>
<p><b>Param: </b>token(jwt)</p>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
[
    {
        "data": {
            "user": {
                "id": 2,
                "sectorId": 2,
                "email": "kurtorioque@gmail.com",
                "password": "as",
                "employeeId": "2",
                "firstName": "kurt",
                "lastName": "oriouqe",
                "role": 2,
                "status": 1,
                "createAt": null,
                "updateAt": null,
                "deleteAt": null
            },
            "token": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJrdXJ0b3Jpb3F1ZUBnbWFpbC5jb20iLCJpYXQiOjE2MTczNDc0NDR9.KaNjrUAJ7qwV2DLppSw3YEsp1YDIFh-hc-zy6owZNu4"
        },
        "message": "Re-Login Success"
    }
]
</textarea>

<h4>Logout User</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/logout</p>
<p><b>Method:</b> POST </p>
<p><b>Body: </b>null
</p>
<p><b>Header: </b>null</p>
<p><b>Param: </b>token(jwt)</p>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
[
    {
        "data": {
            "message": "Logout Success"
        }
    }
]
</textarea>

<h4>UserList</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/list</p>
<p><b>Method:</b> POST </p>
<p><b>Param: </b></p>
<p><b>Body:</b></p>
<p><b>Note: </b> </p>
<p>if the order is true the order will ascending Else descending</p>
<p>the orderBy  status, role, employeeId The default: status</p>
<textarea cols="100" rows="100">
    {
    "pageSize":10,
    "currentPage": 1,
    "search":"",
    "orderBy":String,
    "order":true
	}
    </textarea>
<p><b>Header: </b></p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Authorization</td>
        <td>Bearer {token}</td>
    </tr>
    </tbody>
</table>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
{
    "data": [
        {
            "sectorId": 0,
            "email": "JohnDoe@gmail.com",
            "password": "johndoe",
            "employeeId": "1234567",
            "firstName": "John",
            "lastName": "Doe",
            "role": 1,
            "status": 1,
            "createAt": "2021-04-24T07:45:10.707+00:00",
            "updateAt": "2021-04-24T07:45:10.707+00:00",
            "deleteAt": "2021-04-24T07:45:10.707+00:00",
            "statusName": "active",
            "statusColor": "primary"
        }
    ],
    "totalItem": 1,
    "totalPage": 1,
    "pageSize": 10,
    "currentPage": 1,
    "status": true
}
</textarea>

<h4>Approver List</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/getApprover</p>
<p><b>Method:</b> POST </p>
<p><b>Param: </b>Search:String, page:Integer, size: Integer</p>
<p><b>Body:</b></p>
<p><b>Header: </b></p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Authorization</td>
        <td>Bearer {token}</td>
    </tr>
    </tbody>
</table>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
{
    "data": [
        {
            "id": 4,
            "sectorId": 2,
            "email": "kurtorioque",
            "password": "w",
            "employeeId": "2",
            "firstName": "kurt",
            "lastName": "oriouqe",
            "role": 2,
            "status": 1,
            "createAt": "2021-04-02T05:59:24.856+00:00",
            "updateAt": null,
            "deleteAt": null
        }
    ],
    "totalPages": 3,
    "page": 0,
    "totalElements": 3
}
</textarea>


<h4>get Single User</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/getUser</p>
<p><b>Method:</b> POST </p>
<p><b>Param: </b>id: Integer</p>
<p><b>Body: </b>null</p>
<p><b>Header: </b></p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Authorization</td>
        <td>Bearer {token}</td>
    </tr>
    </tbody>
</table>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
    {
    "data": {
        "id": 4,
        "sectorId": 2,
        "email": "kurtorioque",
        "password": "w",
        "employeeId": "2",
        "firstName": "kurt",
        "lastName": "oriouqe",
        "role": "Nothing",
        "status": 1,
        "createAt": "2021-04-02T05:59:24.856+00:00",
        "updateAt": null,
        "deleteAt": null
    },
    "message": "User Find Success"
}
</textarea>
<br/>
<br/>

<h4>Create Admin</h4>
<p><b>Endpoint:</b> {CurrentUrl}/user/createAdmin</p>
<p><b>Method:</b> GET </p>
<p><b>Param: </b>null</p>
<p><b>Body: </b>null</p>
<p><b>Header: </b></p>
<table>
    <thead>
    <tr>
        <th>admin</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Authorization</td>
        <td>Bearer {token}</td>
    </tr>
    </tbody>
</table>
<p><b>Response: </b></p>
<p><b>Status:</b> 200 OK</p>
<textarea cols="100" rows="100">
{
    "admin": {
        "id": 0,
        "sectorId": 1,
        "email": "JohnDoe@gmail.com",
        "password": "johndoe",
        "employeeId": "1234567",
        "firstName": "John",
        "lastName": "Doe",
        "role": 1,
        "status": 1,
        "createAt": "2021-04-15T10:39:21.200+00:00",
        "updateAt": "2021-04-15T10:39:21.200+00:00",
        "deleteAt": "2021-04-15T10:39:21.200+00:00"
    }
}
</textarea>
<br/>
<br/>
<br/>
</body>
</html>